$font-baloo: "Baloo Thambi 2", cursive;
$font-raleway: "Raleway", cursive;
$font-rubik: "Rubik", cursive;
$font-dancing: "Dancing Script", cursive;
$font-lobster: "Lobster", cursive;
$color-primary: #f8a407;
$color-second: #eb307e;
$color-yellow: #FFD289;